main
  section.mainscreen
    .mainscreen__wrap
      .container
        .mainscreen__info
          h1 Выпускайте<br>онлайн-сертификаты<br>и абонементы
          p.d-none.d-md-block Привлекайте деньги в бизнес сейчас—услуги окажете после
    .mainscreen__imgs
      .container
        .mainscreen__imgs_wrap
          img.mainscreen__imgs_3(src="img/mainsc/3.svg" alt="")
          img.mainscreen__imgs_2(src="img/mainsc/2.svg" alt="")
          img.mainscreen__imgs_1(src="img/mainsc/1.svg" alt="")
  section.advant
    .container
      .advant__heading
        h2 Предприниматели получают
      .advant__wrap
        .advant__item
          .advant__preview
            img(src="img/mastercard-circles.svg" alt="" width="120" height="75")
          .advant__desc
            p
              span Бесплатное размещение
              span  на платформе
              span  и бизнес–бонусы
        .advant__item
          .advant__preview
            img(src="img/100.svg" alt="" width="131" height="68")
          .advant__desc
            p
              span <strong>16000 ₽</strong> на ведение
              span  и продвижение проекта
              span  на Boomstarter
        .advant__item
          .advant__preview
            img(src="img/Monitor.svg" alt="" width="90" height="82")
          .advant__desc
            p
              span Готовый сервис <span class="nowrap">онлайн–платежей</span>
              span  и заказа товаров
        .advant__item
          .advant__preview
            img(src="img/yandex-maps.svg" alt="" width="260" height="85" style="padding-bottom: 9px;")
          .advant__desc
            p
              span Бесплатное размещение
              span  и&nbsp;продвижение информации
              span  на геосервисах
  section.figure
    .container
      .figure__wrap
        .figure__item
          .figure__left.animation
            .figure__heading
              h2
                span Загрузите фото и описание
                span  вашей компании на Boomstarter
            .figure__desc
              p
                span Расскажите кто вы и почему любите своё дело.
                span  Какую работу вы делаете для людей,
                span  Когда открылись и кто пользуется вашими услугами.
          .figure__right
            .figure__perc
              img(src="img/figure-1.svg" alt="")
            .figure__rest.animation
              img.d-md-block.d-none(src="img/figure-rest.svg" alt="")
              img.d-block.d-md-none(src="img/figure-rest_mobile.svg" alt="")
        .figure__item.services-animation
          .figure__left
            .figure__heading
              h2
                span Решите какие услуги
                span  продавать в виде
                span  сертификатов со скидкой
            .figure__list
              ul
                li Ужин на двоих
                li Месячный абонемент в фитнес–клуб
                li 10 бизнес–ланчей
                li Чашка кофе в день в течение месяца
          .figure__right
            .figure__services
              .figure__services_item
                .figure__services_img
                  img(src="img/services/1.svg" alt="")
                .figure__services_price 1500 ₽ <span>2200</span>
              .figure__services_item.d-none.d-md-flex
                .figure__services_img
                  img(src="img/services/2.svg" alt="")
                .figure__services_price 150 ₽ <span>222</span>
              .figure__services_item.d-md-none
                .figure__services_img
                  img(src="img/services/10.svg" alt="")
                .figure__services_price 150 ₽ <span>222</span>
              .figure__services_item.d-none.d-md-flex
                .figure__services_img
                  img(src="img/services/3.svg" alt="")
                .figure__services_price 150 ₽ <span>420</span>
              .figure__services_item.d-md-none
                .figure__services_img
                  img(src="img/services/7.svg" alt="")
                .figure__services_price 150 ₽ <span>220</span>
              .figure__services_item
                .figure__services_img
                  img(src="img/services/4.svg" alt="")
                .figure__services_price 490 ₽ <span>690</span>
              .figure__services_item
                .figure__services_img
                  img(src="img/services/5.svg" alt="")
                .figure__services_price 99 ₽ <span>120</span>
              .figure__services_item.d-none.d-md-flex
                .figure__services_img
                  img(src="img/services/6.svg" alt="")
                .figure__services_price 999 ₽ <span>1500</span>
              .figure__services_item.d-md-none
                .figure__services_img
                  img(src="img/services/8.svg" alt="")
                .figure__services_price 999 ₽ <span>1500</span>
              .figure__services_item.d-none.d-md-flex
                .figure__services_img
                  img(src="img/services/7.svg" alt="")
                .figure__services_price 150 ₽ <span>220</span>
        .figure__item
          .figure__left.animation
            .figure__heading
              h2
                span Покажите, что можно купить
                span  с&nbsp;доставкой или&nbsp;онлайн сейчас
            .figure__list
              ul
                li Кофе навынос
                li Доставка готовых обедов
                li Онлайн-фитнес по утрам
                li Книга «10 рецептов холостяка»
          .figure__right
            .figure__call
              img.girl(src="img/figure_call.svg" alt="")
              img.pizza.animation(src="img/figure_pizza.svg" alt="")
  section.attach
    .container
      .attach__wrap
        .attach__img
          img(src="img/img-buy.svg" alt="")
          .attach__arrow.animation
            +icon('arrow')
        .attach__content
          .attach__heading
            h2 Привяжите вашу страницу<br>к Яндекс.Картам
          span.attach__link Скопируйте адрес вашего проекта на Boomstarter и вставте в карточку компании в геосервисах Яндекса

  section.percent
    .percent__top
      .container
        .percent__heading
          h2
            span Получайте предоплаты
            span  от клиентов и поддерживайте
            span  команду в трудную минуту
        .percent__imgs
          .percent__fix
            img(src="img/percent/img-fix.svg" alt="")
          .percent__move
            img.img3(src="img/percent/img-move_3.svg" alt="")
            img.img2(src="img/percent/img-move_2.svg" alt="")
            img.img1(src="img/percent/img-move_1.svg" alt="")
    .percent__range
      .percent__range_value
        span 67%
    //.percent__bottom
    //  .container
    //    .percent__amount 100 000 000 ₽
    //    .percent__orders 3000 заказов
  section.bonuses
    .container
      .bonuses__heading
        h2 Бонусы и бесплатные услуги Boomstarter
      .bonuses__row
        .bonuses__wrap
          .bonuses__col.d-none.d-md-flex
            .bonuses__card.megaphone
              .bonuses__inner
                .bonuses__img
                  +icon('megaphone')
                .bonuses__text
                  span Бонусы на рекламу
                  span  в ФБ, ВК, Яндексе и Гугле
          .bonuses__col.d-none.d-md-flex
            .bonuses__card.team
              .bonuses__inner
                .bonuses__text
                  span Горячая аудитория
                  span  платформы
                .bonuses__img
                  +icon('team')
            .bonuses__card.man
              .bonuses__inner
                .bonuses__text
                  span Ведение проекта
                  span  продюсером
                .bonuses__img
                  +icon('man')
          .bonuses__col.d-none.d-md-flex
            .bonuses__card.mail
              .bonuses__inner
                .bonuses__text
                  span Рассылка по базе
                  span  500 000 человек
                .bonuses__img
                  +icon('mail')
            .bonuses__card.like
              .bonuses__inner
                .bonuses__img
                  +icon('like')
                .bonuses__text
                  span Размещение
                  span  в соцсетяз 150К+
          .bonuses__col
            .bonuses__card.line
              .bonuses__inner
                .bonuses__img
                  +icon('investor')
                .bonuses__text
                  span Работающая
                  span  система оплаты
            .bonuses__card.line.d-none.d-md-flex
              .bonuses__inner
                .bonuses__img
                  +icon('accountant')
                .bonuses__text
                  span Бухгалтерское
                  span  сопровождение
            .bonuses__card.line.d-none.d-md-flex
              .bonuses__inner
                .bonuses__img
                  +icon('sertificat')
                .bonuses__text
                  span Страница
                  span  с сертификатами
            .bonuses__card.line.d-md-none
              .bonuses__inner
                .bonuses__img
                  +icon('megaphone')
                .bonuses__text
                  span Бонусы на рекламу
                  span  в ФБ, ВК, Яндексе и Гугле
            .bonuses__card.line.d-md-none
              .bonuses__inner
                .bonuses__img
                  +icon('team')
                .bonuses__text
                  span Горячая аудитория
                  span  платформы
            .bonuses__card.line.d-md-none
              .bonuses__inner
                .bonuses__img
                  +icon('man')
                .bonuses__text
                  span Ведение проекта
                  span  продюсером
            .bonuses__card.line.d-none
              .bonuses__inner
                .bonuses__img
                  +icon('mail')
                .bonuses__text
                  span Рассылка по базе
                  span  500 000 человек
            .bonuses__card.line.d-none
              .bonuses__inner
                .bonuses__img
                  +icon('like')
                .bonuses__text
                  span Размещение
                  span  в соцсетяз 150К+
      //.bonuses__row.-mastercard
      //  .bonuses__title
      //    h3 Mastercard Бизнес-Бонус
      //  .bonuses__wrap
      //    .bonuses__item
      //      .bonuses__inner
      //        .bonuses__brand
      //          img(src="img/mango.svg" alt="")
      //        .bonuses__text <span class="font-black">Скидка 50%</span> 3 месяца на онлайн–телефонию
      //    .bonuses__item
      //      .bonuses__inner
      //        .bonuses__brand
      //          img(src="img/dhl.svg" alt="")
      //        .bonuses__text <span class="font-black">Скидка 20%</span><br>на экспресс–доставку
      //    .bonuses__item
      //      .bonuses__inner
      //        .bonuses__brand
      //          img(src="img/superjob.svg" alt="")
      //        .bonuses__text <span class="font-black">Скидка  50%</span> на подбор персонала и рекламу
      //    .bonuses__item
      //      .bonuses__inner
      //        .bonuses__brand
      //          img(src="img/letual.svg" alt="")
      //        .bonuses__text <span class="font-black">Скидка 500₽</span> <br>на покупку косметики
      //    .bonuses__item
      //      .bonuses__inner
      //        .bonuses__brand
      //          img(src="img/simple.svg" alt="")
      //        .bonuses__text <span class="font-black">Скидка 15%</span> <br>на основной ассортимент
      //    .bonuses__item
      //      .bonuses__inner
      //        .bonuses__brand
      //          img(src="img/hh.png" alt="")
      //        .bonuses__text <span class="font-black">Бесплатно 1</span> месяц использования
      //    .bonuses__item.-two-box
      //      .bonuses__all
      //        .bonuses__all_number >30
      //        .bonuses__all_text
      //          span партнёров из&nbsp;разных сфер&nbsp;бизнеса
  section.useful
    .container
      .useful__heading
        h2 Полезное для предпринимателей
      .useful__wrap
        .useful__item
          a.useful__inner(href="https://business.mastercard.ru/offer/9763e0a5-baaf-4f3a-afe9-53a3bcf4130a")
            .useful__img.-two
              .useful__img_w
                img(src="img/useful/viewst2.svg" alt="")
              .useful__img_line
                img(src="img/useful/mc.svg" alt="")
            .useful__text Бесплатное<br>создание&nbsp;баннеров<br>а&nbsp;2&nbsp;месяца
        .useful__item.d-none.d-md-block
          a.useful__inner(href="https://teleg.one/onf_business_bot?utm_source=letter&utm_medium=email&utm_campaign=telegrambot")
            .useful__img
              img(src="img/useful/onf.svg" alt="")
            .useful__text Телеграм–бот<br>для&nbsp;бизнеса
        .useful__item
          a.useful__inner(href="https://business.mastercard.ru/offer/1d690faa-e8dc-4ff4-8c2d-b73970eda573")
            .useful__img.-two
              .useful__img_w
                img(src="img/useful/konsierge.svg" width="45" height="59ç" alt="")
              .useful__img_line
                img(src="img/useful/mc.svg" alt="")
            .useful__text Бесплатные<br>юридические<br>консультации
        .useful__item.d-none.d-md-block
          a.useful__inner.open-modal(href="#working")
            .useful__img
              img(src="img/useful/portf.svg" alt="")
            .useful__text Временное<br>трудоустройство<br>сотрудников
        .useful__item.d-none.d-md-block
          a.useful__inner(href="http://ivo.garant.ru/#/document/77468101/paragraph/204:0")
            .useful__img
              .useful__img_w
                img(src="img/useful/garant.svg" alt="")
            .useful__text Юридическая<br>информация<br>во&nbsp;время&nbsp;пандемии
        .useful__item.d-none.d-md-block
          a.useful__inner(href="https://business.mastercard.ru/offer/6cad40fa-2393-469a-b013-8ac9654a6432")
            .useful__img.-two
              .useful__img_w
                img(src="img/useful/insales.svg" alt="")
              .useful__img_line
                img(src="img/useful/mc.svg" alt="")
            .useful__text Бесплатное создание<br>интернет–магазина<br>на&nbsp;2&nbsp;месяца
        .useful__item.d-none.d-md-block
          a.useful__inner.open-modal(href="#credits")
            .useful__percent 0%
            .useful__text Кредиты<br>без процентов
        .useful__item
          a.useful__inner(href="https://business.mastercard.ru/offer/bb82ae8f-f26c-48f1-9d51-b11d47b040f4")
            .useful__img.-two
              .useful__img_w
                img(src="img/useful/yandex.svg" alt="")
              .useful__img_line
                img(src="img/useful/mc.svg" alt="")
            .useful__text 5%&nbsp;скидка<br>на&nbsp;бесконтактную<br>заправку
        .useful__item.d-md-none
          a.useful__inner(href="https://business.mastercard.ru/")
            .useful__img
              .useful__img.mc
                img(src="img/useful/mc.svg" alt="")
            .useful__text Другие бонусы<br>для бизнеса
  section.examples
    .container
      .examples__heading
        h2
          span Примеры бизнесов,
          span  которые подходят для&nbsp;участия в проекте
      .examples__wrap
        .examples__item.item1.d-none.d-md-flex
          .examples__inner
            .examples__img
              img(src="img/examples/1/1.svg" alt="")
            p Кофейни
        .examples__item.item2.d-none.d-md-flex
          .examples__inner
            .examples__img
              img(src="img/examples/2/1.svg" alt="")
            p Фитнес-клубы
        .examples__item.item3.d-none.d-md-flex
          .examples__inner
            .examples__img
              img(src="img/examples/3/1.svg" alt="")
              img(src="img/examples/3/2.svg" alt="")
              img(src="img/examples/3/3.svg" alt="")
              img(src="img/examples/3/4.svg" alt="")
            p Скалодромы
        .examples__item.item4
          .examples__inner
            p ИП&nbsp;и&nbsp;ООО, которые&nbsp;работают с&nbsp;физическими&nbsp;лицами
              span.big больше года
            .examples__img
              img.d-none.d-md-inline-block(src="img/examples/4/1.svg" alt="")
              img.d-md-none(src="img/examples/4/11.svg" alt="")
        .examples__item.item5
          .examples__inner
            .examples__img
              img(src="img/examples/6/1.svg" alt="")
            p Фотоателье
          .examples__inner
            p Музеи
            .examples__img
              img(src="img/examples/7/1.svg" alt="")
        .examples__item.item6.d-none.d-md-block
          .examples__inner
            .examples__imgs
              .examples__img
                img(src="img/examples/5/1.svg" alt="")
              .examples__img
                img(src="img/examples/5/2.svg" alt="")
              .examples__img
                img(src="img/examples/5/3.svg" alt="")
            p Кафе и рестораны
      .examples__bottom
        span Проекты проходят скоринг через сервис Финчек. Полный <a href="#">список требований</a>
  section.creat.creat-animation
    .container
      .creat__heading
        h2
          span Привлеките деньги
          span  в ваш бизнес
      .creat__btn
        a.btn-blue(href="#") Создать проект
      //.creat__img
      //  img(src="img/mainsc/1.svg" alt="")
  section.copy
    .container
      .copy__heading
        h2 Расскажите о проекте у себя&nbsp;на сайте
      .copy__wrap
        .copy__left
          .copy__btn.copy__white.active.show
            a(href="#" style="display: flex; align-items: center; background: #ffffff; border-radius: 50px; padding: 13px 25px; box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);text-decoration: none;")
              svg(width='43' height='30' viewbox='0 0 71 45' fill='none' xmlns='http://www.w3.org/2000/svg' style="margin-right: 15px; margin-bottom: 3px;")
                path(fill-rule='evenodd' clip-rule='evenodd' d='M25.9336 40.0074H44.8798V5.18848H25.9336V40.0074Z' fill='#FF5F00')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M27.1351 22.6054C27.1297 15.8119 30.1798 9.39366 35.4053 5.19889C26.0026 -2.35786 12.3902 -0.688558 5.00116 8.92621C-2.38786 18.5416 -0.756078 32.4612 8.64605 40.018C16.4982 46.328 27.5532 46.328 35.4053 40.018C30.178 35.822 27.1279 29.4006 27.1351 22.6054Z' fill='#EB001B')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M70.4417 22.607C70.4417 34.8357 60.7466 44.7488 48.7883 44.7488C43.9344 44.7488 39.222 43.0807 35.4062 40.0134C44.8084 32.4573 46.4408 18.5371 39.0511 8.92173C37.9859 7.53537 36.762 6.28371 35.4062 5.19381C44.8072 -2.36413 58.4196 -0.697918 65.811 8.91558C68.8117 12.8194 70.4429 17.6415 70.4417 22.607Z' fill='#F79E1B')
              svg(width='300' height='30' viewbox='0 0 300 30' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M3.10288 23.1212L4.14488 17.032H0.269939L0.790939 14.0688H4.66588L5.47994 9.51008H1.63756L2.126 6.51433H5.96838L7.10807 0.00182062H10.4294L9.28976 6.51433H13.7183L14.858 0.00182062H18.1793L17.0396 6.51433H20.9797L20.4587 9.51008H16.5512L15.7371 14.0688H19.6121L19.1236 17.032H15.2487L14.1741 23.1212H10.8528L11.9273 17.032H7.46626L6.42426 23.1212H3.10288ZM7.98726 14.0688H12.4158L13.2298 9.51008H8.76876L7.98726 14.0688ZM25.0775 23.1212V0.00182062H43.8009V23.1212H39.6004V3.61626H29.2781V23.1212H25.0775ZM50.0962 21.0698C48.3378 19.4199 47.4586 17.3359 47.4586 14.8178C47.4586 12.2996 48.3378 10.2265 50.0962 8.59833C51.8546 6.94849 54.0037 6.12358 56.5436 6.12358C59.1052 6.12358 61.2651 6.94849 63.0235 8.59833C64.8036 10.2265 65.6937 12.2996 65.6937 14.8178C65.6937 17.3359 64.8145 19.4199 63.0561 21.0698C61.2977 22.6979 59.1377 23.512 56.5761 23.512C54.0146 23.512 51.8546 22.6979 50.0962 21.0698ZM51.6592 14.8178C51.6592 16.3374 52.1259 17.5856 53.0594 18.5625C54.0146 19.5176 55.1868 19.9952 56.5761 19.9952C57.9655 19.9952 59.1377 19.5176 60.0929 18.5625C61.0481 17.5856 61.5256 16.3374 61.5256 14.8178C61.5256 13.3199 61.0372 12.0825 60.0603 11.1056C59.1052 10.1288 57.9438 9.64033 56.5761 9.64033C55.2085 9.64033 54.0471 10.1288 53.092 11.1056C52.1368 12.0825 51.6592 13.3199 51.6592 14.8178ZM73.1202 19.7998H79.2745V9.8357H75.1391V10.6172C75.1391 14.503 74.4661 17.5639 73.1202 19.7998ZM66.9333 19.7998H68.9848C70.4609 17.629 71.199 14.351 71.199 9.96595V6.51433H83.41V19.7998H85.787V27.0287H82.0423V23.1212H70.7757V27.0287H66.9333V19.7998ZM93.1856 19.7998H99.3399V9.8357H95.2045V10.6172C95.2045 14.503 94.5315 17.5639 93.1856 19.7998ZM86.9987 19.7998H89.0501C90.5263 17.629 91.2644 14.351 91.2644 9.96595V6.51433H103.475V19.7998H105.852V27.0287H102.108V23.1212H90.8411V27.0287H86.9987V19.7998ZM107.655 14.8178C107.655 12.2562 108.436 10.1722 109.999 8.56577C111.584 6.93764 113.625 6.12358 116.121 6.12358C118.422 6.12358 120.224 6.87251 121.526 8.37039C122.829 9.84656 123.48 11.7243 123.48 14.0037C123.48 14.3728 123.437 14.9046 123.35 15.5993H111.92C112.051 16.9886 112.583 18.074 113.516 18.8555C114.45 19.6153 115.578 19.9952 116.903 19.9952C118.552 19.9952 120.137 19.3874 121.657 18.1717L123.285 21.1349C122.46 21.873 121.44 22.4591 120.224 22.8933C119.03 23.3057 117.825 23.512 116.609 23.512C113.939 23.512 111.779 22.6762 110.13 21.0047C108.48 19.3114 107.655 17.2491 107.655 14.8178ZM112.018 12.7663H119.345C119.323 11.6809 118.997 10.8234 118.368 10.1939C117.76 9.56435 116.979 9.24958 116.023 9.24958C114.981 9.24958 114.102 9.5752 113.386 10.2265C112.669 10.856 112.214 11.7026 112.018 12.7663ZM126.917 29.6337V6.51433H130.694V7.7517L130.629 8.92395H130.694C131.237 8.03391 131.975 7.3501 132.909 6.87251C133.864 6.37322 134.906 6.12358 136.035 6.12358C138.271 6.12358 140.051 6.92679 141.375 8.5332C142.721 10.1396 143.394 12.2345 143.394 14.8178C143.394 17.4228 142.677 19.5285 141.245 21.1349C139.834 22.7196 138.021 23.512 135.807 23.512C133.831 23.512 132.236 22.7305 131.02 21.1675H130.955C131.02 21.5582 131.052 22.0358 131.052 22.6002V29.6337H126.917ZM130.922 14.9155C130.922 16.3048 131.291 17.5096 132.029 18.5299C132.767 19.5285 133.777 20.0278 135.058 20.0278C136.252 20.0278 137.239 19.5719 138.021 18.6601C138.824 17.7267 139.226 16.4676 139.226 14.8829C139.226 13.3199 138.846 12.0608 138.086 11.1056C137.326 10.1505 136.338 9.67289 135.123 9.67289C133.929 9.67289 132.93 10.1179 132.127 11.008C131.324 11.8763 130.922 13.1788 130.922 14.9155ZM144.746 23.1212L149.826 14.5898V14.5247L145.17 6.51433H149.468L153.147 12.9617H155.166V6.51433H159.041V12.9617H161.06L164.74 6.51433H169.038L164.414 14.5247V14.5898L169.494 23.1212H164.935L161.125 16.4459H159.041V23.1212H155.166V16.4459H153.082L149.273 23.1212H144.746ZM172.104 23.1212V6.51433H176.044V15.4039C176.044 16.2071 176.011 16.8692 175.946 17.3902H176.011C176.098 17.1948 176.511 16.5327 177.249 15.4039L183.403 6.51433H187.408V23.1212H183.468V14.2642C183.468 13.7866 183.501 13.1245 183.566 12.2779H183.501C183.436 12.4299 183.023 13.092 182.263 14.2642L176.109 23.1212H172.104Z' fill='black')
                path(d='M192.437 23.1212V0.00182062H206.635V3.61626H196.638V8.95652H201.262C203.411 8.95652 205.148 9.60777 206.472 10.9103C207.818 12.1911 208.491 13.9169 208.491 16.0877C208.491 18.1717 207.829 19.865 206.504 21.1675C205.18 22.47 203.465 23.1212 201.36 23.1212H192.437ZM196.638 19.5068H200.611C201.761 19.5068 202.651 19.2029 203.281 18.595C203.91 17.9872 204.225 17.1514 204.225 16.0877C204.225 15.024 203.899 14.1774 203.248 13.5478C202.597 12.8966 201.696 12.571 200.546 12.571H196.638V19.5068ZM211.758 23.1212V6.51433H215.698V15.4039C215.698 16.2071 215.665 16.8692 215.6 17.3902H215.665C215.752 17.1948 216.164 16.5327 216.903 15.4039L223.057 6.51433H227.062V23.1212H223.122V14.2642C223.122 13.7866 223.155 13.1245 223.22 12.2779H223.155C223.089 12.4299 222.677 13.092 221.917 14.2642L215.763 23.1212H211.758ZM230.007 21.0698L231.766 18.4322C233.068 19.6913 234.468 20.3208 235.966 20.3208C236.856 20.3208 237.551 20.1255 238.05 19.7347C238.571 19.3223 238.832 18.7687 238.832 18.074C238.832 16.7064 237.909 16.0226 236.064 16.0226H234.045V13.1571H235.738C237.453 13.1571 238.311 12.5167 238.311 11.2359C238.311 9.91168 237.486 9.24958 235.836 9.24958C234.533 9.24958 233.198 9.70545 231.831 10.6172L230.496 7.97964C232.167 6.74226 234.208 6.12358 236.617 6.12358C238.311 6.12358 239.7 6.53603 240.785 7.36095C241.893 8.16416 242.446 9.27129 242.446 10.6823C242.446 12.4624 241.686 13.7106 240.167 14.427V14.4921C242.034 15.1868 242.967 16.4568 242.967 18.302C242.967 19.9518 242.348 21.2326 241.111 22.1443C239.874 23.0561 238.311 23.512 236.422 23.512C233.882 23.512 231.744 22.6979 230.007 21.0698ZM246.419 23.1212V6.51433H250.554V12.9291H257.653V6.51433H261.788V23.1212H257.653V16.4133H250.554V23.1212H246.419ZM265.221 14.8178C265.221 12.2562 266.002 10.1722 267.565 8.56577C269.15 6.93764 271.19 6.12358 273.687 6.12358C275.988 6.12358 277.79 6.87251 279.092 8.37039C280.395 9.84656 281.046 11.7243 281.046 14.0037C281.046 14.3728 281.003 14.9046 280.916 15.5993H269.486C269.616 16.9886 270.148 18.074 271.082 18.8555C272.015 19.6153 273.144 19.9952 274.468 19.9952C276.118 19.9952 277.703 19.3874 279.222 18.1717L280.851 21.1349C280.026 21.873 279.005 22.4591 277.79 22.8933C276.596 23.3057 275.391 23.512 274.175 23.512C271.505 23.512 269.345 22.6762 267.695 21.0047C266.045 19.3114 265.221 17.2491 265.221 14.8178ZM269.584 12.7663H276.91C276.889 11.6809 276.563 10.8234 275.934 10.1939C275.326 9.56435 274.544 9.24958 273.589 9.24958C272.547 9.24958 271.668 9.5752 270.952 10.2265C270.235 10.856 269.779 11.7026 269.584 12.7663ZM283.473 14.8178C283.473 12.3864 284.298 10.335 285.948 8.66345C287.62 6.9702 289.801 6.12358 292.493 6.12358C293.687 6.12358 294.859 6.32981 296.01 6.74226C297.16 7.15472 298.116 7.77341 298.875 8.59833L297.019 11.4313C295.825 10.2373 294.393 9.64033 292.721 9.64033C291.223 9.64033 290.008 10.1396 289.074 11.1382C288.141 12.1151 287.674 13.3307 287.674 14.7852C287.674 16.2397 288.152 17.477 289.107 18.4973C290.062 19.4959 291.31 19.9952 292.851 19.9952C294.653 19.9952 296.281 19.2897 297.736 17.8786L299.331 20.8093C298.55 21.6342 297.54 22.2963 296.303 22.7956C295.087 23.2732 293.817 23.512 292.493 23.512C289.801 23.512 287.62 22.687 285.948 21.0372C284.298 19.3657 283.473 17.2925 283.473 14.8178Z' fill='#FC9D3E')
          .copy__btn.copy__black
            a(href="#" style="display: flex; align-items: center; background: #000000; border-radius: 50px; padding: 13px 25px; box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);text-decoration: none;")
              svg(width='43' height='30' viewbox='0 0 71 45' fill='none' xmlns='http://www.w3.org/2000/svg' style="margin-right: 15px; margin-bottom: 3px;")
                path(fill-rule='evenodd' clip-rule='evenodd' d='M25.9336 40.0074H44.8798V5.18848H25.9336V40.0074Z' fill='#FF5F00')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M27.1351 22.6054C27.1297 15.8119 30.1798 9.39366 35.4053 5.19889C26.0026 -2.35786 12.3902 -0.688558 5.00116 8.92621C-2.38786 18.5416 -0.756078 32.4612 8.64605 40.018C16.4982 46.328 27.5532 46.328 35.4053 40.018C30.178 35.822 27.1279 29.4006 27.1351 22.6054Z' fill='#EB001B')
                path(fill-rule='evenodd' clip-rule='evenodd' d='M70.4417 22.607C70.4417 34.8357 60.7466 44.7488 48.7883 44.7488C43.9344 44.7488 39.222 43.0807 35.4062 40.0134C44.8084 32.4573 46.4408 18.5371 39.0511 8.92173C37.9859 7.53537 36.762 6.28371 35.4062 5.19381C44.8072 -2.36413 58.4196 -0.697918 65.811 8.91558C68.8117 12.8194 70.4429 17.6415 70.4417 22.607Z' fill='#F79E1B')
              svg(width='300' height='30' viewbox='0 0 300 30' fill='none' xmlns='http://www.w3.org/2000/svg')
                path(d='M3.10288 23.1212L4.14488 17.032H0.269939L0.790939 14.0688H4.66588L5.47994 9.51008H1.63756L2.126 6.51433H5.96838L7.10807 0.00182062H10.4294L9.28976 6.51433H13.7183L14.858 0.00182062H18.1793L17.0396 6.51433H20.9797L20.4587 9.51008H16.5512L15.7371 14.0688H19.6121L19.1236 17.032H15.2487L14.1741 23.1212H10.8528L11.9273 17.032H7.46626L6.42426 23.1212H3.10288ZM7.98726 14.0688H12.4158L13.2298 9.51008H8.76876L7.98726 14.0688ZM25.0775 23.1212V0.00182062H43.8009V23.1212H39.6004V3.61626H29.2781V23.1212H25.0775ZM50.0962 21.0698C48.3378 19.4199 47.4586 17.3359 47.4586 14.8178C47.4586 12.2996 48.3378 10.2265 50.0962 8.59833C51.8546 6.94849 54.0037 6.12358 56.5436 6.12358C59.1052 6.12358 61.2651 6.94849 63.0235 8.59833C64.8036 10.2265 65.6937 12.2996 65.6937 14.8178C65.6937 17.3359 64.8145 19.4199 63.0561 21.0698C61.2977 22.6979 59.1377 23.512 56.5761 23.512C54.0146 23.512 51.8546 22.6979 50.0962 21.0698ZM51.6592 14.8178C51.6592 16.3374 52.1259 17.5856 53.0594 18.5625C54.0146 19.5176 55.1868 19.9952 56.5761 19.9952C57.9655 19.9952 59.1377 19.5176 60.0929 18.5625C61.0481 17.5856 61.5256 16.3374 61.5256 14.8178C61.5256 13.3199 61.0372 12.0825 60.0603 11.1056C59.1052 10.1288 57.9438 9.64033 56.5761 9.64033C55.2085 9.64033 54.0471 10.1288 53.092 11.1056C52.1368 12.0825 51.6592 13.3199 51.6592 14.8178ZM73.1202 19.7998H79.2745V9.8357H75.1391V10.6172C75.1391 14.503 74.4661 17.5639 73.1202 19.7998ZM66.9333 19.7998H68.9848C70.4609 17.629 71.199 14.351 71.199 9.96595V6.51433H83.41V19.7998H85.787V27.0287H82.0423V23.1212H70.7757V27.0287H66.9333V19.7998ZM93.1856 19.7998H99.3399V9.8357H95.2045V10.6172C95.2045 14.503 94.5315 17.5639 93.1856 19.7998ZM86.9987 19.7998H89.0501C90.5263 17.629 91.2644 14.351 91.2644 9.96595V6.51433H103.475V19.7998H105.852V27.0287H102.108V23.1212H90.8411V27.0287H86.9987V19.7998ZM107.655 14.8178C107.655 12.2562 108.436 10.1722 109.999 8.56577C111.584 6.93764 113.625 6.12358 116.121 6.12358C118.422 6.12358 120.224 6.87251 121.526 8.37039C122.829 9.84656 123.48 11.7243 123.48 14.0037C123.48 14.3728 123.437 14.9046 123.35 15.5993H111.92C112.051 16.9886 112.583 18.074 113.516 18.8555C114.45 19.6153 115.578 19.9952 116.903 19.9952C118.552 19.9952 120.137 19.3874 121.657 18.1717L123.285 21.1349C122.46 21.873 121.44 22.4591 120.224 22.8933C119.03 23.3057 117.825 23.512 116.609 23.512C113.939 23.512 111.779 22.6762 110.13 21.0047C108.48 19.3114 107.655 17.2491 107.655 14.8178ZM112.018 12.7663H119.345C119.323 11.6809 118.997 10.8234 118.368 10.1939C117.76 9.56435 116.979 9.24958 116.023 9.24958C114.981 9.24958 114.102 9.5752 113.386 10.2265C112.669 10.856 112.214 11.7026 112.018 12.7663ZM126.917 29.6337V6.51433H130.694V7.7517L130.629 8.92395H130.694C131.237 8.03391 131.975 7.3501 132.909 6.87251C133.864 6.37322 134.906 6.12358 136.035 6.12358C138.271 6.12358 140.051 6.92679 141.375 8.5332C142.721 10.1396 143.394 12.2345 143.394 14.8178C143.394 17.4228 142.677 19.5285 141.245 21.1349C139.834 22.7196 138.021 23.512 135.807 23.512C133.831 23.512 132.236 22.7305 131.02 21.1675H130.955C131.02 21.5582 131.052 22.0358 131.052 22.6002V29.6337H126.917ZM130.922 14.9155C130.922 16.3048 131.291 17.5096 132.029 18.5299C132.767 19.5285 133.777 20.0278 135.058 20.0278C136.252 20.0278 137.239 19.5719 138.021 18.6601C138.824 17.7267 139.226 16.4676 139.226 14.8829C139.226 13.3199 138.846 12.0608 138.086 11.1056C137.326 10.1505 136.338 9.67289 135.123 9.67289C133.929 9.67289 132.93 10.1179 132.127 11.008C131.324 11.8763 130.922 13.1788 130.922 14.9155ZM144.746 23.1212L149.826 14.5898V14.5247L145.17 6.51433H149.468L153.147 12.9617H155.166V6.51433H159.041V12.9617H161.06L164.74 6.51433H169.038L164.414 14.5247V14.5898L169.494 23.1212H164.935L161.125 16.4459H159.041V23.1212H155.166V16.4459H153.082L149.273 23.1212H144.746ZM172.104 23.1212V6.51433H176.044V15.4039C176.044 16.2071 176.011 16.8692 175.946 17.3902H176.011C176.098 17.1948 176.511 16.5327 177.249 15.4039L183.403 6.51433H187.408V23.1212H183.468V14.2642C183.468 13.7866 183.501 13.1245 183.566 12.2779H183.501C183.436 12.4299 183.023 13.092 182.263 14.2642L176.109 23.1212H172.104Z' fill='white')
                path(d='M192.437 23.1212V0.00182062H206.635V3.61626H196.638V8.95652H201.262C203.411 8.95652 205.148 9.60777 206.472 10.9103C207.818 12.1911 208.491 13.9169 208.491 16.0877C208.491 18.1717 207.829 19.865 206.504 21.1675C205.18 22.47 203.465 23.1212 201.36 23.1212H192.437ZM196.638 19.5068H200.611C201.761 19.5068 202.651 19.2029 203.281 18.595C203.91 17.9872 204.225 17.1514 204.225 16.0877C204.225 15.024 203.899 14.1774 203.248 13.5478C202.597 12.8966 201.696 12.571 200.546 12.571H196.638V19.5068ZM211.758 23.1212V6.51433H215.698V15.4039C215.698 16.2071 215.665 16.8692 215.6 17.3902H215.665C215.752 17.1948 216.164 16.5327 216.903 15.4039L223.057 6.51433H227.062V23.1212H223.122V14.2642C223.122 13.7866 223.155 13.1245 223.22 12.2779H223.155C223.089 12.4299 222.677 13.092 221.917 14.2642L215.763 23.1212H211.758ZM230.007 21.0698L231.766 18.4322C233.068 19.6913 234.468 20.3208 235.966 20.3208C236.856 20.3208 237.551 20.1255 238.05 19.7347C238.571 19.3223 238.832 18.7687 238.832 18.074C238.832 16.7064 237.909 16.0226 236.064 16.0226H234.045V13.1571H235.738C237.453 13.1571 238.311 12.5167 238.311 11.2359C238.311 9.91168 237.486 9.24958 235.836 9.24958C234.533 9.24958 233.198 9.70545 231.831 10.6172L230.496 7.97964C232.167 6.74226 234.208 6.12358 236.617 6.12358C238.311 6.12358 239.7 6.53603 240.785 7.36095C241.893 8.16416 242.446 9.27129 242.446 10.6823C242.446 12.4624 241.686 13.7106 240.167 14.427V14.4921C242.034 15.1868 242.967 16.4568 242.967 18.302C242.967 19.9518 242.348 21.2326 241.111 22.1443C239.874 23.0561 238.311 23.512 236.422 23.512C233.882 23.512 231.744 22.6979 230.007 21.0698ZM246.419 23.1212V6.51433H250.554V12.9291H257.653V6.51433H261.788V23.1212H257.653V16.4133H250.554V23.1212H246.419ZM265.221 14.8178C265.221 12.2562 266.002 10.1722 267.565 8.56577C269.15 6.93764 271.19 6.12358 273.687 6.12358C275.988 6.12358 277.79 6.87251 279.092 8.37039C280.395 9.84656 281.046 11.7243 281.046 14.0037C281.046 14.3728 281.003 14.9046 280.916 15.5993H269.486C269.616 16.9886 270.148 18.074 271.082 18.8555C272.015 19.6153 273.144 19.9952 274.468 19.9952C276.118 19.9952 277.703 19.3874 279.222 18.1717L280.851 21.1349C280.026 21.873 279.005 22.4591 277.79 22.8933C276.596 23.3057 275.391 23.512 274.175 23.512C271.505 23.512 269.345 22.6762 267.695 21.0047C266.045 19.3114 265.221 17.2491 265.221 14.8178ZM269.584 12.7663H276.91C276.889 11.6809 276.563 10.8234 275.934 10.1939C275.326 9.56435 274.544 9.24958 273.589 9.24958C272.547 9.24958 271.668 9.5752 270.952 10.2265C270.235 10.856 269.779 11.7026 269.584 12.7663ZM283.473 14.8178C283.473 12.3864 284.298 10.335 285.948 8.66345C287.62 6.9702 289.801 6.12358 292.493 6.12358C293.687 6.12358 294.859 6.32981 296.01 6.74226C297.16 7.15472 298.116 7.77341 298.875 8.59833L297.019 11.4313C295.825 10.2373 294.393 9.64033 292.721 9.64033C291.223 9.64033 290.008 10.1396 289.074 11.1382C288.141 12.1151 287.674 13.3307 287.674 14.7852C287.674 16.2397 288.152 17.477 289.107 18.4973C290.062 19.4959 291.31 19.9952 292.851 19.9952C294.653 19.9952 296.281 19.2897 297.736 17.8786L299.331 20.8093C298.55 21.6342 297.54 22.2963 296.303 22.7956C295.087 23.2732 293.817 23.512 292.493 23.512C289.801 23.512 287.62 22.687 285.948 21.0372C284.298 19.3657 283.473 17.2925 283.473 14.8178Z' fill='#FC9D3E')
          .copy__select
            label.copy__checkbox.white
              input(type="radio" name="btn_color" checked="checked" value="white")
              span Светлая
            label.copy__checkbox.black
              input(type="radio" name="btn_color" value="black")
              span Тёмная
        .copy__right
          button.copy__link.btn-clipboard(type="button") Скопировать код










