header.header
  a.header__creat(href="#") Создать<br>проект
  .container
    .header__wrap
      a.header__hash(href="#")
        span.black #Поддержи
        span.primary Бизнес
      .header__logos
        a.mastercard(href="#")
          img(src="img/mastercard.svg" alt="")
        a.boomstarter(href="#")
          img(src="img/boomstarter.svg" alt="")
      .header__btn
        a.btn-tr(href="#") Создать проект


