html {
  font-size: 14px;
}

* {
  outline: 0 !important;
}

body {
  font-weight: 300;
}

.figure {
  display: block;
}

svg {
  max-width: 100%;
  max-height: 100%;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h2 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.3;
  @include media-breakpoint-up(md) {
    font-size: 25px;
    margin-bottom: 40px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 30px;
  }
}

.font-black {
  font-weight: 900;
}

@include media-breakpoint-up(md) {
  .animation {
    opacity: 0;
    transition: .5s ease-in-out;
    &.is-visible {
      opacity: 1;
    }
  }
};



/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.btn {

  &-tr {
    font-weight: 500;
    font-size: 17px;
    color: $secondary;
    background-color: #fff;
    border: 1px solid $secondary;
    display: inline-block;
    padding: 8px 30px;
    transition: .2s ease-in-out;
    position: relative;
    &:hover {
      background-color: $secondary;
      color: #fff;
      text-decoration: none;
    }
    &:active {
      top: 1px;
    }
  }
}