.mainscreen {

  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
  position: relative;
  @include media-breakpoint-up(md) {
    min-height: 550px;
  }
  @include media-breakpoint-only(md) {
    padding-top: 180px;
  }
  @include media-breakpoint-down(sm) {
    padding-top: 5px;
  }

  &__wrap {
    margin: auto 0;

    &:before {
      content: '';
      width: 490px;
      height: 490px;
      background-color: rgba(#FFD54F, .2);
      position: absolute;
      right: -300px;
      bottom: -75px;
      border-radius: 50%;
      @include media-breakpoint-up(sm) {
        width: 840px;
        height: 840px;
        right: -75px;
        bottom: -400px;
      }
    }

    &:after {
      content: '';
      width: 415px;
      height: 415px;
      background-color: rgba(#F57F17, .2);
      position: absolute;
      left: 50%;
      transform: translateX(-45%);
      bottom: -120px;
      border-radius: 50%;
      @include media-breakpoint-up(sm) {
        width: 700px;
        height: 700px;
        right: 390px;
        left: auto;
        bottom: -560px;
        transform: translateX(0);
      }
    }
  }

  &__info {
    position: relative;
    z-index: 10;
    @include media-breakpoint-up(md) {
      max-width: 600px;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 60px;
    }

    h1 {
      font-size: 30px;
      font-weight: 700;
      line-height: 1.1;
      margin-bottom: 15px;
      @include media-breakpoint-up(md) {
        font-size: 48px;
      }
    }

    p {
      font-size: 20px;
      line-height: 1.2;
      @include media-breakpoint-up(md) {
        font-size: 30px;
      }
      span {
        display: block;
      }
    }
  }

  &__imgs {

    @include media-breakpoint-up(lg) {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
    }

    &_wrap {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      &:hover {

        .mainscreen__imgs_2 {
          transform: rotate(-31deg) translateY(-30px);
        }
        .mainscreen__imgs_3 {
          transform: rotate(-60deg) translateY(-30px);
        }
      }
    }

    &_1 {
      position: relative;
      @include media-breakpoint-up(sm) {
        margin-bottom: -50px;
      }
      @include media-breakpoint-down(xs) {
        width: 155px;
        margin-bottom: -30px;
      }
    }

    &_2 {
      position: relative;
      transition: .5s ease-in-out;
      transform: rotate(-31deg);
      @include media-breakpoint-up(sm) {
        margin-bottom: -35px;
        margin-right: -83px;
      }
      @include media-breakpoint-down(xs) {
        width: 130px;
        margin-bottom: -25px;
        margin-right: -45px;
      }
    }

    &_3 {
      position: relative;
      transition: 1s ease-in-out;
      transform: rotate(-60deg);
      @include media-breakpoint-up(sm) {
        margin-bottom: -130px;
        margin-right: -70px;
      }
      @include media-breakpoint-down(xs) {
        width: 115px;
        margin-bottom: -80px;
        margin-right: -45px;
      }
    }
  }
}

.advant {
  padding: 35px 0;
  @include media-breakpoint-up(md) {
    padding: 70px;
  }

  &__heading {
    @include media-breakpoint-up(md) {
      margin-bottom: 65px;
      text-align: center;
    }

    h2 {
      font-size: 30px;
      @include media-breakpoint-up(lg) {
        font-size: 40px;
      }
      @include media-breakpoint-down(sm) {
        line-height: 1.1;
      }
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -10px;
  }

  &__item {
    padding: 0 10px;
    width: 50%;
    margin-bottom: 30px;
    @include media-breakpoint-up(md) {
      max-width: 300px;
      &:nth-child(4) {
        margin-left: -12px;
        img {
          margin-left: -18px;
        }
      }
    }
    @include media-breakpoint-up(lg) {
      width: 25%;
      max-width: 300px;
    }
    @include media-breakpoint-down(sm) {
      &:nth-child(2) {
        .advant__preview img {
          //width: 64px;
        }
      }
      &:nth-child(3) {
        .advant__preview img {
          width: 105px;
        }
      }
      &:nth-child(4){
        .advant__preview img {
          width: 170px;
          margin-left: -10px;
        }
      }
    }
  }

  &__preview {
    display: flex;
    align-items: center;
    height: 90px;
    margin-bottom: 15px;
    @include media-breakpoint-up(md) {
      height: 100px;
      margin-bottom: 15px;
    }
  }

  &__zero {
    font-weight: 500;
    font-size: 80px;
    color: #FC9D3E;
    margin-right: 10px;
    line-height: .7;
    @include media-breakpoint-up(md) {
      font-size: 100px;
    }
  }

  &__number {
    font-weight: 300;
    font-size: 20px;
    color: #000;
    text-decoration: line-through;
    white-space: nowrap;
    @include media-breakpoint-up(md) {
      font-size: 28px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 36px;
    }
  }

  &__desc {
    margin-bottom: 3px;
    max-width: 280px;
    font-size: 12px;
    line-height: 1.2;
    @include media-breakpoint-up(md) {
      font-size: 16px;
      //font-weight: 500;
    }
    @include media-breakpoint-up(xl) {
      font-size: 20px;
    }
    @include media-breakpoint-down(sm) {
      line-height: 1.1;
    }
    p {
      margin-bottom: 0;
    }

    span {
      display: block;
    }
  }
}

.figure {
  overflow: hidden;
  padding: 10px 0;
  @include media-breakpoint-up(md) {
    padding: 10px 0 80px;
  }
  &__wrap {
    position: relative;

    &:before {

      @include media-breakpoint-up(md) {
        content: '';
        width: 100%;
        height: 100%;
        background-color: #fff;
        position: absolute;
        left: calc(50% + 55px);
        top: 0;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
      }
      @include media-breakpoint-up(lg) {
        left: calc(45% + 75px);
      }
    }
  }

  &__heading {
    h2 {
      margin-bottom: 20px;
    }

    span {
      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &:nth-child(1) {
      .figure__right {
        &:before {
          @include media-breakpoint-up(md) {
            content: '';
            width: 39px;
            height: 100%;
            background-image: url(../img/1_figure.svg);
            background-position: center center;
            background-size: auto 100%;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }

    &:nth-child(2) {
      .figure__right {
        &:before {
          @include media-breakpoint-up(lg) {
            content: '';
            width: 39px;
            height: 100%;
            background-image: url(../img/2_figure.svg);
            background-size: auto 100%;
            background-position: center center;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }

    &:nth-child(3) {
      .figure__right {
        &:before {
          @include media-breakpoint-up(md) {
            content: '';
            width: 39px;
            height: 100%;
            background-image: url(../img/3_figure.svg);
            background-size: auto 100%;
            background-position: center center;
            background-repeat: no-repeat;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 50px;
    }

    &.services-animation {
      .figure__left,
      .figure__services_img,
      .figure__services_price {
        @include media-breakpoint-up(md) {
          opacity: 0;
        }
      }

      &.is-visible {
        .figure__left,
        .figure__services_img,
        .figure__services_price {
          opacity: 1;
        }
      }

    }

  }

  &__left {
    transition: .5s ease-in-out;
    @include media-breakpoint-up(md) {
      width: 50%;
      padding-right: 25px;
    }
    @include media-breakpoint-up(lg) {
      width: 45%;
      padding-right: 45px;
    }
    @include media-breakpoint-down(md) {
      margin-bottom: 30px;
    }
  }

  &__right {
    position: relative;
    @include media-breakpoint-up(md) {
      padding-left: 55px;
      width: 50%;
    }
    @include media-breakpoint-up(lg) {
      padding-left: 75px;
      width: 55%;
    }
  }

  &__perc {
    margin-bottom: 15px;
    @include media-breakpoint-up(lg) {
      margin-bottom: 50px;
    }
  }

  &__rest {
    @include media-breakpoint-up(lg) {
      padding-left: 45px;
    }
  }

  &__desc {
    font-size: 16px;
    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
    span {
      @include media-breakpoint-up(lg) {
        display: block;
      }
    }
  }

  &__list {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      line-height: 1.2;
      @include media-breakpoint-down(sm) {
        //margin-bottom: 25px;
      }
      li {
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: 16px;
        @include media-breakpoint-up(md) {
          font-size: 20px;
        }

        &:before {
          content: '-';
          font-weight: 900;
          font-size: 20px;
          margin-right: 15px;
          @include media-breakpoint-up(md) {
            font-size: 30px;
          }
        }
      }
    }
  }

  &__services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include media-breakpoint-up(md) {
      padding: 30px 0 20px;
    }

    &_item {
      width: 100px;
      margin: 6px;
      background-color: #F6F6F6;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 6px;

      @include media-breakpoint-up(md) {
        padding: 10px;
        width: 115px;
      }

    }

    &_img {
      max-width: 65px;
      max-height: 75px;
      margin: auto 0 7px;
      padding: 5px 0;
      transition: opacity .5s ease-in-out .5s;
      img {
        max-width: 65px;
        max-height: 65px;
      }
    }
    &_price {
      transition: opacity .5s ease-in-out .8s;
      span {
        text-decoration: line-through;
      }
    }
  }

  &__call {
    display: flex;
    justify-content: center;
    @include media-breakpoint-up(md) {
      padding: 60px 0 0;
    }
    @include media-breakpoint-down(sm) {
      max-width: 80%;
      margin: 0 auto;
    }
    .girl {
      @include media-breakpoint-down(md) {
        width: 200px;
      }
    }
    .pizza {
      max-width: 180px;
      margin-top: -60px;
      margin-left: -45px;

      @include media-breakpoint-up(lg) {
        max-width: 220px;
        margin-top: -80px;
        margin-left: -40px;
      }

    }
  }
}

.attach {
  overflow: hidden;
  padding: 60px 0;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__heading {
    h2 {
      font-weight: 900;
      margin-bottom: 20px;
    }
  }

  &__img {
    transform: rotate(-7deg);
    max-width: 410px;
    @include media-breakpoint-up(md) {
      margin-right: 50px;
    }
    @include media-breakpoint-up(lg) {
      margin-right: 140px;
    }
    @include media-breakpoint-down(sm) {
      order: 2;
    }
  }

  &__content {
    width: 100%;
    position: relative;
    @include media-breakpoint-up(md) {
      max-width: 350px;
    }
    @include media-breakpoint-up(lg) {
      max-width: 450px;
    }
    @include media-breakpoint-down(sm) {
      order: 1;
      margin-bottom: 30px;
    }
  }

  &__link {
    font-size: 16px;
    //font-weight: 500;
    //color: $secondary;
    position: relative;
    transition: .2s ease-in-out;
    @include media-breakpoint-up(lg) {
      font-size: 20px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 24px;
    }

    &:hover {
      color: $secondary;
      text-decoration: none;
    }
  }

  &__arrow {
    position: absolute;
    left: calc(100% - 50px);
    bottom: 20px;
    width: 90px;
    height: 90px;
    @include media-breakpoint-up(lg) {
      left: calc(100% - 50px);
      bottom: 20px;
      width: 150px;
      height: 150px;
    }
    @include media-breakpoint-down(sm) {
      transform: scale(1, -1) rotate(65deg);
    }

    .icon {
      fill: $secondary;
    }
  }
}

.percent {
  padding: 60px 0;
  &__heading {

    @include media-breakpoint-up(md) {
      padding-left: 54%;
      margin-bottom: -160px;
    }

    h2 {
      font-weight: 900;
    }

    span {
      @include media-breakpoint-up(xl) {
        display: block;
      }
    }
  }

  &__imgs {
    position: relative;
    z-index: 1;
    margin-bottom: -15px;
    display: flex;
    align-items: flex-end;
    @include media-breakpoint-up(md) {
      margin-bottom: -27px;
    }
  }

  &__fix {
    width: 165px;
    position: relative;
    z-index: 10;
    flex: none;
    @include media-breakpoint-up(md) {
      width: 280px;
      margin-right: 40px;
    }
    &:before {
      content: '';
      width: 90%;
      height: calc(100% - 27px);
      background-color: #fff;
      position: absolute;
      left: 0;
      top: 0;
    }
    img {
      position: relative;
    }
  }

  &__move {
    width: 100%;
    padding-bottom: 15px;
    display: flex;
    align-items: flex-end;
    @include media-breakpoint-up(md) {
      padding-bottom: 23px;
    }
    .img3 {
      @include media-breakpoint-down(sm) {
        display: none;

      }
    }
    .img2 {
      @include media-breakpoint-down(sm) {
        width: 58px;
      }
    }
    .img1 {
      @include media-breakpoint-down(sm) {
        width: 53px;
      }
    }
    img {
      margin: 0 10px;
      @include media-breakpoint-up(md) {
        margin: 0 25px;
      }
      //position: absolute;
      //left: 90px;
      //bottom: 0;
    }
  }

  &__range {
    width: 100%;
    height: 36px;
    background-color: #E6E6E6;
    position: relative;
    margin-bottom: 25px;
    @include media-breakpoint-up(md) {
      margin-bottom: 50px;
    }

    &_value {
      position: absolute;
      width: 67%;
      left: 0;
      top: 0;
      height: 100%;
      background-color: $primary;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 10px;
      font-size: 21px;
      font-weight: 500;
      color: #fff;
      span {
        position: relative;
        z-index: 10;
      }
    }
  }

  &__amount {
    font-weight: 900;
    font-size: 30px;
    @include media-breakpoint-up(md) {
      font-size: 48px;
    }
  }

  &__orders {
    font-size: 20px;
    @include media-breakpoint-up(md) {
      font-size: 30px;
    }
  }
}

.bonuses {
  background-color: #F8F8F8;
  padding: 60px 0 35px;
  @include media-breakpoint-up(md) {
    padding: 60px 0 75px;
  }

  &__heading {
    h2 {
      font-weight: 700;
      margin-bottom: 20px;
      font-size: 30px;
    }
  }

  &__title {
    margin-bottom: 25px;
    @include media-breakpoint-up(md) {
      margin-bottom: 35px;
    }

    h3 {
      font-weight: 700;
      font-size: 20px;
    }
  }

  &__row {
    &:not(:last-child) {
      margin-bottom: 60px;
    }

    &.-mastercard {
      .bonuses__text {
        font-weight: 300;

        span {
          display: inline-block;
        }
      }
    }
  }

  &__wrap {
    display: flex;
    margin: -4px;
    flex-wrap: wrap;
    @include media-breakpoint-up(md) {
      margin: -10px;
    }
  }

  &__col {
    display: flex;
    width: 100%;
    @include media-breakpoint-up(md) {
      width: 50%;
      flex-direction: column;
    }
    @include media-breakpoint-up(lg) {
      width: 25%;
    }
    @include media-breakpoint-down(sm) {
      flex-wrap: wrap;
    }

    &:nth-child(2),
    &:nth-child(3) {
      @include media-breakpoint-down(sm) {
        display: flex;
        flex-direction: row;
        .bonuses__text {
          margin-top: 15px;
        }
      }

    }
  }

  &__card {
    padding: 4px;
    width: 50%;
    @include media-breakpoint-up(md) {
      padding: 10px;
      height: 100%;
      width: 100%;
    }

    &.megaphone {

      .bonuses__inner {
        background-color: #fff;
      }

      .bonuses__img {
        margin: 0 auto;
      }
    }

    &.team {
      @include media-breakpoint-up(md) {
        height: 50%;
      }
      @include media-breakpoint-down(sm) {
        order: 2;
        width: 50%;
      }

      .bonuses__inner {
        background-color: $primary;
        color: #fff;
        align-content: space-between;
      }

      .bonuses__text {
        @include media-breakpoint-down(sm) {
          order: 2;
        }
      }
    }

    &.man {
      @include media-breakpoint-up(md) {
        height: 50%;
      }
      @include media-breakpoint-down(sm) {
        order: 1;
        width: 50%;
      }

      .bonuses__inner {
        background-color: #fff;
        align-content: space-between;
      }

      .bonuses__text {
        @include media-breakpoint-down(sm) {
          order: 2;
        }
      }
    }

    &.mail {

      @include media-breakpoint-up(md) {
        height: 66.666%;
      }
      @include media-breakpoint-down(sm) {
        width: 50%;
      }

      .bonuses__inner {
        background-color: #fff;
        align-content: space-between;
      }

      .bonuses__text {
        @include media-breakpoint-down(sm) {
          order: 1;
        }
      }
    }

    &.like {

      @include media-breakpoint-up(md) {
        height: 33.333%;
      }
      @include media-breakpoint-down(sm) {
        width: 50%;
      }

      .bonuses__inner {
        flex-wrap: nowrap;
        align-items: center;
        @include media-breakpoint-down(sm) {
          padding: 25px 15px;
          flex-wrap: wrap;
        }
      }

      .bonuses__img {
        flex: none;
        margin-right: 35px;
        @include media-breakpoint-up(md) {
          margin-right: 10px;
        }
        @include media-breakpoint-up(xl) {
          margin-right: 18px;
        }

        .icon {
          width: 90px;
          height: 75px;
          fill: $primary;
          @include media-breakpoint-up(md) {
            width: 50px;
            height: 50px;
          }
          @include media-breakpoint-up(xl) {
            width: 64px;
            height: 64px;
          }
        }
      }
    }

    &.line {

      .bonuses__inner {
        flex-wrap: nowrap;
        align-items: center;
        @include media-breakpoint-down(sm) {
          padding: 5px 15px;
          min-height: 105px;
        }
      }

      .bonuses__img {
        flex: none;
        @include media-breakpoint-up(md) {
          margin-right: 10px;
        }
        @include media-breakpoint-up(xl) {
          margin-right: 18px;
        }

        .icon {
          width: 40px;
          height: 40px;
          fill: $primary;
          @include media-breakpoint-up(md) {
            width: 50px;
            height: 50px;
          }
          @include media-breakpoint-up(xl) {
            width: 64px;
            height: 64px;
          }
        }
      }
    }
  }

  &__inner {
    height: 100%;
    width: 100%;
    padding: 15px;
    display: flex;
    align-content: center;
    background-color: #fff;
    flex-wrap: wrap;
    @include media-breakpoint-up(md) {
      box-shadow: 0 2px 7px rgba(#000, .15);
    }
    color: #000;
    transition: .3s;
    &:hover {
      color: #000;
      text-decoration: none;
    }
    @include media-breakpoint-up(xl) {
      font-size: 20px;
      padding: 20px;
    }
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      display: flex;
      text-align: center;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 12px;
    width: 100%;

    @include media-breakpoint-up(md) {
      font-size: 16px;
    }

    span {
      display: block;
    }

    @include media-breakpoint-up(xl) {
      font-size: 18px;
    }
  }

  &__img {
    @include media-breakpoint-down(sm) {
      margin: auto;
    }

    .icon {

      &-megaphone {
        width: 120px;
        height: 120px;
        fill: $primary;
        @include media-breakpoint-up(md) {
          width: 208px;
          height: 208px;
        }
      }

      &-team {
        width: 62px;
        height: 62px;
        fill: #fff;
      }

      &-man {
        width: 48px;
        height: 52px;
        fill: $primary;
        @include media-breakpoint-up(md) {
          width: 65px;
          height: 71px;
        }
      }

      &-mail {
        width: 120px;
        height: 85px;
        fill: $primary;
        @include media-breakpoint-up(md) {
          width: 152px;
          height: 110px;
        }
      }
    }
  }

  &__item {
    width: 50%;
    padding: 4px;
    @include media-breakpoint-up(md) {
      width: 25%;
      padding: 10px;
    }

    &.-two-box {
      width: 100%;
      @include media-breakpoint-up(md) {
        width: 50%;
      }
    }

    &:nth-child(1) {
      img {
        @include media-breakpoint-down(sm) {
          margin: 0 -15px;
          max-width: none;
          width: calc(100% + 30px);
        }
      }
    }

    .bonuses__inner {
      align-content: space-between;
      padding: 20px;
      @include media-breakpoint-up(lg) {
        min-height: 240px;
      }
      @include media-breakpoint-down(md) {
        min-height: 162px;
      }
    }
  }

  .bonuses__brand {

    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-up(md) {
      justify-content: center;
      height: 70px;
      margin-bottom: 20px;
    }
    @include media-breakpoint-up(lg) {
      height: 120px;
    }
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__all {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 20px 0;
    @include media-breakpoint-up(md) {
      padding: 20px 15px;
    }
    @include media-breakpoint-up(lg) {
      padding: 20px 30px;
    }
    @include media-breakpoint-down(sm) {
      justify-content: center;
    }
    &_number {
      font-weight: 900;
      font-size: 70px;
      color: $primary;
      line-height: 1;
      margin-right: 15px;
      @include media-breakpoint-up(lg) {
        font-size: 96px;
        margin-right: 24px;
      }
    }

    &_text {
      font-weight: 900;
      font-size: 20px;
      @include media-breakpoint-up(lg) {
        font-size: 24px;
      }
      @include media-breakpoint-down(sm) {
        width: 130px;
      }
      span {
        @include media-breakpoint-up(md) {
          display: block;
        }
      }
    }
  }
}

.examples {
  padding: 35px 0;
  @include media-breakpoint-up(md) {
    padding: 60px 0;
  }
  &__heading {
    margin-bottom: 30px;
    h2 {
      font-size: 20px;
      font-weight: 900;
      @include media-breakpoint-up(md) {
        font-size: 30px;
      }
      span {
        @include media-breakpoint-up(md) {
          display: block;
        }
      }
    }
  }
  &__wrap {
    display: grid;
    grid-gap: 8px;
    //grid-template-columns: 1fr 1fr;
    @include media-breakpoint-up(md) {
      grid-gap: 15px;
      grid-template-columns: 0.82fr 0.82fr 0.85fr 1.26fr 1.25fr;
    }
  }
  &__bottom {
    font-size: 16px;
    margin-top: 15px;
    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
    a {
      color: $secondary;
      &:hover {
        text-decoration: none;
        color: $primary;
      }
    }
    @include media-breakpoint-down(sm) {
      span {
        display: block;
      }
    }
  }
  &__item {
    display: flex;

    &.item1 {
      grid-column: 1 / 2;
      grid-row: 6 / 7;
      @include media-breakpoint-up(md) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
      .examples__inner {
        display: flex;
        flex-direction: column;
      }



      .examples__img {
        margin: auto;
      }
    }
    &.item2 {
      grid-column: 2 / 3;
      grid-row: 6 / 7;
      @include media-breakpoint-up(md) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
      .examples__inner {
        display: flex;
        flex-direction: column;
      }
      .examples__img {
        margin: auto;
      }
      p {
        margin: 0 auto;
      }
    }
    &.item3 {
      grid-column: 1 / 2;
      grid-row: 4 / 6;
      @include media-breakpoint-up(md) {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
      }
      .examples__inner {
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
      }
      .examples__img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        img {

          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4), {
            position: absolute;
          }
          &:nth-child(1) {
            right: -15%;
            top: -1%;
            transform: rotate(17deg);
          }
          &:nth-child(2) {
            right: 0;
            top: 33%;
          }
          &:nth-child(3) {
            right: 0;
            top: 50%;
          }
          &:nth-child(4) {
            right: 0;
            top: 65%;
          }
        }
      }
      p {
        margin: auto 0 0;
      }
    }
    &.item4 {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
      @include media-breakpoint-up(md) {
        grid-column: 4 / 5;
        grid-row: 1 / 3;
      }
      .examples__inner {
        display: flex;
        flex-direction: column;
      }
      .examples__img {
        margin: -10px -15px;
        position: relative;
        @include media-breakpoint-down(sm) {
          display: flex;
          justify-content: flex-end;
          overflow: hidden;
          padding-bottom: 160px;
        }
        img {
          width: 130px;
          @include media-breakpoint-up(md) {
            width: 100%;
          }
          @include media-breakpoint-down(sm) {
            //transform: rotate(-7deg);
            position: absolute;
            left: 0;
            right: 0;
            bottom: -25px;
            margin: auto;
          }
        }
      }
      p {
        margin-bottom: auto;
        font-size: 20px;
        line-height: 1.3;
        @include media-breakpoint-down(sm) {
          font-weight: 300;
        }
        span {
          display: inline;
        }
        @include media-breakpoint-only(md) {
          font-size: 20px;
          span {
            display: inline;
          }
        }
        .big {
          display: block !important;
          font-size: 20px;
          font-weight: 900;
          @include media-breakpoint-up(md) {
            font-size: 30px;
          }
          @include media-breakpoint-down(sm) {
            font-weight: 700;
          }
        }
      }
    }
    &.item5 {
      grid-column: 2 / 3;
      grid-row: 4 / 6;
      display: none;
      grid-gap: 15px;
      @include media-breakpoint-up(md) {
        grid-column: 5 / 6;
        grid-row: 1 / 3;
        display: grid !important;
      }
      .examples__inner {

        &:first-child {
          display: flex;
          flex-direction: column;
          .examples__img {
            margin: auto;
            @include media-breakpoint-down(lg) {
              max-width: 86px;
            }
          }
          p {
            margin-top: 20px;
          }
        }
        &:last-child {
          display: flex;
          justify-content: space-between;
          position: relative;
          min-height: 150px;
          .examples__img {
            margin: -10px -15px -10px -50px;
            @include media-breakpoint-up(lg) {
              margin: -10px -15px;
            }
            img {

              position: absolute;
              right: 0;
              top: 0;
              height: 100%;
            }
          }
          p {
            margin-top: auto;;
          }
        }
      }

    }
    &.item6 {
      grid-column: 1 / 3;
      grid-row: 3 / 4;
      @include media-breakpoint-up(md) {
        grid-column: 1 / 3;
        grid-row: 2 / 3;
      }
      .examples__inner {
        display: flex;
        flex-direction: column;
      }
      .examples__imgs {
        display: flex;
        margin:  auto;
        padding: 10px 0;
      }
      .examples__img {
        padding: 0 7px;
      }
    }
  }
  &__inner {
    border: 1px dotted #8D8D8D;
    padding: 10px 15px;
    height: 100%;
    width: 100%;

  }
  p {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 20px;
    @include media-breakpoint-only(md) {
      font-size: 16px;
    }
    span {
      display: block;
    }
  }
}

.creat {
  background-color: #FFFCFC;
  padding-top: 45px;
  padding-bottom: 120px;
  overflow: hidden;
  position: relative;
  @include media-breakpoint-up(md) {
    padding-top: 120px;
    padding-bottom: 150px;
  }
  &__heading {
    h2 {
      font-size: 30px;
    }
  }
  &.is-move {
    .creat__img {
      transform: translateY(-25px);
      @include media-breakpoint-up(md) {
        transform: translateY(-45px);
      }
    }
  }
  .container {
    position: relative;
    z-index: 10;
  }
  //&:before {
  //  content: '';
  //  width: 100%;
  //  padding-bottom: 100%;
  //  border-radius: 50%;
  //  background-color: #FDE5D1;
  //  position: absolute;
  //  left: -20%;
  //  top: 70%;
  //}
  //&:after {
  //  content: '';
  //  width: 100%;
  //  padding-bottom: 100%;
  //  border-radius: 50%;
  //  background-color: #FFF7DC;
  //  position: absolute;
  //  right: -35%;
  //  top: 40%;
  //}
  &__heading {
    font-size: 38px;
    text-align: center;
    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
    }
    span {
      @include media-breakpoint-down(sm) {
        display: block;
      }
    }
  }
  &__img {
    display: flex;
    justify-content: center;
    margin-bottom: -250px;
    transition: .5s ease-in-out;
    @include media-breakpoint-up(md) {
      margin-top: 100px;
      margin-bottom: -200px;
    }
    @include media-breakpoint-down(sm) {
      max-width: 200px;
      margin: 70px auto -120px;
    }
  }
}

.btn-blue {
  max-width: 308px;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  padding: 10px 30px;
  background-color: $secondary;
  transition: .2s ease-in-out;
  border: 1px solid $secondary;
  &:hover {
    background-color: #fff;
    color: $secondary;
    text-decoration: none;
  }
}

.useful {
  background-color: #F8F8F8;
  padding: 35px 0;
  @include media-breakpoint-up(md) {
    padding: 60px 0;
  }
  &__heading {
    h2 {
      font-size: 30px;
    }
  }
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    margin: -4px;
    @include media-breakpoint-up(md) {
      margin: -10px;
    }
  }
  &__item {
    width: 50%;
    padding: 4px;
    @include media-breakpoint-up(md) {
      padding: 10px;
    }
    @include media-breakpoint-up(xl) {
      width: 25%;
    }
  }
  &__inner {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 100%;
    box-shadow: 0 0 7px rgba(0, 0, 0, .15);
    background-color: #fff;
    color: #000;
    transition: .3s ease-in-out;
    @include media-breakpoint-up(md) {
      min-height: 200px;
      padding: 30px 25px;
    }
    &:hover {
      color: #000;
      text-decoration: none;
      box-shadow: 0 0 15px rgba(0, 0, 0, .25);
    }
  }
  &__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.1;
    padding-top: 10px;
    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
  }
  &__img {
    margin: 0 0 auto;
    min-height: 60px;
    display: flex;
    align-items: center;
    &.-two {
      display: flex;
    }
    &.mc {
      width: 39px;
      height: 25px;
    }
    &_line {
      padding-left: 10px;
      margin-left: 10px;
      position: relative;
      //width: 86px;
      flex: none;
      @include media-breakpoint-up(md) {
        padding-left: 16px;
        margin-left: 16px;
      }
      &:before {
        content: '';
        width: 1px;
        height: 100%;
        background-color: #C4C4C4;
        position: absolute;
        left: 0;
        top: 0;
      }
      img {
        @include media-breakpoint-down(sm) {
          width: 33px;
        }
      }
    }
  }
  &__percent {
    line-height: 1;
    margin: 0 0 auto;
    font-size: 50px;
    font-weight: 700;
    color: #FC9D3E;
    @include media-breakpoint-up(md) {
      font-size: 80px;
    }
  }
}

.copy {
  background-color: #F8F8F8;
  padding: 50px 0 100px;
  text-align: center;
  position: relative;
  overflow: hidden;
  &:before {
    content: '';
    width: 740px;
    height: 740px;
    position: absolute;
    left: -100%;
    top: 80%;
    background-color: rgba(#F57F17, .2);
    border-radius: 50%;
    @include media-breakpoint-up(lg) {
      left: -40%;
      top: 40%;
    }
    @include media-breakpoint-up(lg) {
      left: -30%;
      top: 30%;
    }
  }
  &:after {
    content: '';
    width: 870px;
    height: 870px;
    position: absolute;
    left: -10%;
    top: 80%;
    background-color: rgba(#FFD54F, .2);
    border-radius: 50%;
    @include media-breakpoint-up(lg) {
      left: -10%;
      top: 65%;
    }
  }
  @include media-breakpoint-up(md) {
    padding: 100px 0 180px;
  }
  &__heading {
    margin-bottom: 50px;
    position: relative;
    z-index: 1;
    @include media-breakpoint-up(md) {
      margin-bottom: 50px;
      text-align: center;
    }

    h2 {
      font-size: 20px;
      line-height: 1.1;
      @include media-breakpoint-up(lg) {
        font-size: 40px;
      }
    }
  }

  &__wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
  }
  &__left {
    padding: 0 40px;
    margin-bottom: 60px;
  }
  &__right {
    padding: 0 40px;
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
  &__btn {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: .5s ease-in-out;
    display: none;
    &.active {
      position: static;
      display: block;
    }
    &.show {
      opacity: 1;
      visibility: visible;
    }
  }
  &__select {
    margin-top: 20px;
    display: flex;
    @include media-breakpoint-down(sm) {
      justify-content: center;
    }
  }
  &__checkbox {

    cursor: pointer;
    &:not(:last-child) {
      margin-right: 30px;
      @include media-breakpoint-up(md) {
        margin-right: 50px;
      }
    }
    input {
      display: none;
      &:checked + span {
        &:after {
          opacity: 1;
        }
      }
    }

    span {
      display: block;
      padding-left: 45px;
      position: relative;
      font-weight: 700;
      font-size: 20px;
      line-height: 28px;
      &:before {
        content: '';
        width: 28px;
        height: 28px;
        background-color: #fff;
        border: 1px solid #C2C7CC;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
      }
      &:after {
        content: '';
        width: 12px;
        height: 12px;
        background-color: #FC9D3E;
        border-radius: 50%;
        position: absolute;
        left: 8px;
        top: 8px;
        opacity: 0;
      }
    }
  }
  &__link {
    background-color: transparent;
    border: 1px solid #FC9D3E;
    color: #FC9D3E;
    padding: 10px 30px;
    font-weight: 300;
    font-size: 16px;
    transition: .3s ease-in-out;
    width: 100%;
    text-align: center;
    min-width: 260px;
    @include media-breakpoint-up(md) {
      font-size: 24px;
    }
    &:hover {
      background-color: #FC9D3E;
      color: #fff;
      text-decoration: none;
    }
    &.active {
      background-color: #FC9D3E;
      color: #fff;
      text-decoration: none;
    }
  }

}

.nowrap {
  white-space: nowrap;
}

.modals {
  max-width: 640px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  &__wrap {
    padding: 50px 50px 80px;
    background-color: #fff;
  }
  &__title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 35px;
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 10px;
    @include media-breakpoint-up(md) {
      width: 50%;
    }
    &:hover {
      text-decoration: none;
      .modals__link {
        text-decoration: none;
        color: #FC9D3E;
      }
      .modals__icon {
        transform: scale(1.1);
      }
    }
  }
  &__icon {
    width: 42px;
    height: 42px;
    margin-right: 14px;
    transition: .1s ease-in-out;
  }
  &__link {
    font-weight: 300;
    font-size: 20px;
    color: #000;
    transition: .1s ease-in-out;
  }
}

#working {
  display: flex;
  justify-content: center;
  .modals__box {
    flex-direction: column;
  }
  .modals__item {
    width: 100%;
  }
}




