.header {
  background-color: #fff;
  width: 100%;
  @include media-breakpoint-up(md) {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #fff;
    width: 100%;
    z-index: 999;
  }

  &__creat {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: $secondary;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    font-weight: 700;
    line-height: 1.3;
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out;
    @include media-breakpoint-up(md) {
      display: none !important;
    }
    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__wrap {
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @include media-breakpoint-up(md) {
      padding: 15px 0;
    }
  }

  &__hash {
    font-size: 29px;
    font-weight: 700;
    @include media-breakpoint-only(lg) {
      font-size: 24px;
    }
    @include media-breakpoint-down(sm) {
      order: 3;
      font-size: 18px;
      margin-top: 60px;
    }
    @include media-breakpoint-only(md) {
      margin-top: 10px;
    }

    &:hover {
      text-decoration: none;
    }

    .black {
      color: #000;
    }

    .primary {
      color: #F65F32;
    }
  }

  &__logos {
    display: flex;
    align-items: center;

    .mastercard {
      margin-right: 28px;
      position: relative;
      max-width: 180px;
      @include media-breakpoint-up(md) {
        //width: 190px;
      }

      &:after {
        content: '';
        width: 1px;
        height: 33px;
        background-color: #c4c4c4;
        position: absolute;
        right: -14px;
        top: 50%;
        margin-top: -16px;
      }
    }

    .boomstarter {
      max-width: 135px;
      @include media-breakpoint-up(md) {
        width: 140px;
      }
    }
  }

  &__btn {
    @include media-breakpoint-down(sm) {
      display: none !important;
    }
  }
}