include ../includes/mixins
include ../includes/variables

doctype html
html.no-js(lang='ru-RU')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title BoomStarter

    link(rel="shortcut icon" href="img/favicon.ico" type="image/x-icon")
    link(rel="icon" href="img/favicon.ico" type="image/x-icon")
    // Place favicon.ico in the root directory

    link(rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="libs/magnific-popup/magnific-popup.css")
    link(rel="stylesheet" href="styles/main.css")

  body

    block header

    block content

    block footer

    script(src="https://code.jquery.com/jquery-3.4.1.js")
    script(src="libs/magnific-popup/jquery.magnific-popup.min.js")
    script(src="libs/validate/jquery.validate.js")

    script(src='js/main.js')

