

// Переопределение переменных bootstrap
$body-color: #000;
$font-family-sans-serif: "Museo Sans Cyrl", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$primary: #FF5F00;
$primary: #FC9D3E;
$secondary: #0087F7;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1220px
) !default;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1250px
) !default;


@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}


