extends layout/layout

block header
  include modules/header

block content
  include modules/content

block footer
  include modules/footer

  .modals.mfp-hide#credits
    .modals__wrap
      .modals__title Кредиты под 0%
      .modals__box
        a.modals__item(href="https://www.sberbank.ru/ru/s_m_business/credits/restr#zero")
          .modals__icon
            img(src="img/modal/sber.png" alt="")
          .modals__link Сбербанк
        a.modals__item(href="https://www.rshb.ru/smallbusiness/gos_msp/")
          .modals__icon
            img(src="img/modal/RSB.png" alt="")
          .modals__link Россельхозбанк
        a.modals__item(href="https://www.vtb.ru/malyj-biznes/kredity-i-garantii/kredit-na-zarplatu/")
          .modals__icon
            img(src="img/modal/VTB.png" alt="")
          .modals__link Внешторгбанк
        a.modals__item(href="https://bezbumag.psbank.ru/")
          .modals__icon
            img(src="img/modal/PSB.png" alt="")
          .modals__link Промсвязьбанк
        a.modals__item(href="https://alfabank.ru/sme/profits/credit-holidays-2020/")
          .modals__icon
            img(src="img/modal/Alfa.png" alt="")
          .modals__link Альфа–банк

  .modals.mfp-hide#working
    .modals__wrap
      .modals__title Временное трудоустройство
      .modals__box
        a.modals__item(href="https://hh.ru/search/vacancy?st=searchVacancy&area=1&currency_code=RUR&experience=doesNotMatter&employment=project&order_by=relevance&items_on_page=50&no_magic=true&L_save_area=true&show-part-time-vacancies=true")
          .modals__icon
            img(src="img/modal/hh.png" alt="")
          .modals__link Headhunter
        a.modals__item(href="https://staff.exchange/registration")
          .modals__icon
            img(src="img/modal/VDELE.png" alt="")
          .modals__link VДЕЛЕ
        a.modals__item(href="https://waiter.netmonet.co/partnership/work")
          .modals__icon
            img(src="img/modal/Sisoev.png" alt="")
          .modals__link Нетмонет × СЫСОЕВ





